# Database Configuration
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_password_here
DATABASE_HOSTNAME=localhost
DATABASE_NAME=elektrine_dev
DATABASE_PORT=5432

# You can add other environment variables here
SECRET_KEY_BASE=generate_a_secret_key_base_here 