<div class="flex flex-col min-h-screen">
  <.navbar current_user={@current_user} current_path={assigns[:current_path] || Phoenix.Controller.current_path(@conn)} />

  <main class="flex-grow bg-theme-dark pt-8">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <.flash_group flash={@flash} />
      {@inner_content}
    </div>
  </main>

  <.footer />
</div>
